TLGX_MDM/TLGX_Consumer/Service References/MDMSVC/Consumer9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts.Masters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts.Masters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDC_DynamicAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_DynamicAttributes" nillable="true" type="tns:DC_DynamicAttributes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_DynamicAttributes" nillable="true" type="tns:ArrayOfDC_DynamicAttributes" />
  <xs:complexType name="DC_DynamicAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DynamicAttribute_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ObjectSubElement_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object_Id" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_DynamicAttributes" nillable="true" type="tns:DC_DynamicAttributes" />
  <xs:complexType name="ArrayOfDC_City_Master_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_City_Master_DDL" nillable="true" type="tns:DC_City_Master_DDL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_City_Master_DDL" nillable="true" type="tns:ArrayOfDC_City_Master_DDL" />
  <xs:complexType name="DC_City_Master_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" name="City_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_City_Master_DDL" nillable="true" type="tns:DC_City_Master_DDL" />
  <xs:complexType name="ArrayOfDC_CityAreaLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_CityAreaLocation" nillable="true" type="tns:DC_CityAreaLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_CityAreaLocation" nillable="true" type="tns:ArrayOfDC_CityAreaLocation" />
  <xs:complexType name="DC_CityAreaLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityAreaLocation_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="CityArea_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="City_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_CityAreaLocation" nillable="true" type="tns:DC_CityAreaLocation" />
  <xs:complexType name="ArrayOfDC_CityArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_CityArea" nillable="true" type="tns:DC_CityArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_CityArea" nillable="true" type="tns:ArrayOfDC_CityArea" />
  <xs:complexType name="DC_CityArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityArea_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="City_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_CityArea" nillable="true" type="tns:DC_CityArea" />
  <xs:complexType name="ArrayOfDC_Supplier_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Supplier_DDL" nillable="true" type="tns:DC_Supplier_DDL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Supplier_DDL" nillable="true" type="tns:ArrayOfDC_Supplier_DDL" />
  <xs:complexType name="DC_Supplier_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Supplier_DDL" nillable="true" type="tns:DC_Supplier_DDL" />
  <xs:complexType name="ArrayOfDC_Activity_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Activity_DDL" nillable="true" type="tns:DC_Activity_DDL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Activity_DDL" nillable="true" type="tns:ArrayOfDC_Activity_DDL" />
  <xs:complexType name="DC_Activity_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Activity_DDL" nillable="true" type="tns:DC_Activity_DDL" />
  <xs:complexType name="DC_Keyword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="tns:ArrayOfDC_keyword_alias" />
      <xs:element minOccurs="0" name="Attribute" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="AttributeLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeSubLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeSubLevelValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityFor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extra" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Missing" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Keyword" nillable="true" type="tns:DC_Keyword" />
  <xs:complexType name="ArrayOfDC_keyword_alias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_keyword_alias" nillable="true" type="tns:DC_keyword_alias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_keyword_alias" nillable="true" type="tns:ArrayOfDC_keyword_alias" />
  <xs:complexType name="DC_keyword_alias">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeywordAlias_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Keyword_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="NewHits" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfHits" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_keyword_alias" nillable="true" type="tns:DC_keyword_alias" />
  <xs:complexType name="DC_Keyword_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliasStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Keyword_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PageNo" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="systemWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Keyword_RQ" nillable="true" type="tns:DC_Keyword_RQ" />
  <xs:complexType name="ArrayOfDC_Keyword">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Keyword" nillable="true" type="tns:DC_Keyword" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Keyword" nillable="true" type="tns:ArrayOfDC_Keyword" />
  <xs:complexType name="DC_Country_Search_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Country_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Country_Search_RQ" nillable="true" type="tns:DC_Country_Search_RQ" />
  <xs:complexType name="ArrayOfDC_Country">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Country" nillable="true" type="tns:DC_Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Country" nillable="true" type="tns:ArrayOfDC_Country" />
  <xs:complexType name="DC_Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GooglePlaceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_Alpha_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_Alpha_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_Capital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_Continent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_EDGAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_Geoname_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_ITU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_Languages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_M49" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166_1_TLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO4217_currency_alphabetic_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO4217_currency_country_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO4217_currency_minor_unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO4217_currency_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO4217_currency_numeric_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISOofficial_name_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
      <xs:element minOccurs="0" name="WMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Country" nillable="true" type="tns:DC_Country" />
  <xs:complexType name="ArrayOfDC_Master_State">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Master_State" nillable="true" type="tns:DC_Master_State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Master_State" nillable="true" type="tns:ArrayOfDC_Master_State" />
  <xs:complexType name="DC_Master_State">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateName_LocalLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="State_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Master_State" nillable="true" type="tns:DC_Master_State" />
  <xs:complexType name="DC_State_Search_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlphaPageIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Country_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="State_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_State_Search_RQ" nillable="true" type="tns:DC_State_Search_RQ" />
  <xs:complexType name="ArrayOfState_AlphaPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="State_AlphaPage" nillable="true" type="tns:State_AlphaPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfState_AlphaPage" nillable="true" type="tns:ArrayOfState_AlphaPage" />
  <xs:complexType name="State_AlphaPage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alpha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State_AlphaPage" nillable="true" type="tns:State_AlphaPage" />
  <xs:complexType name="DC_City_Search_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlphaPageIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="City_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Country_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="State_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_City_Search_RQ" nillable="true" type="tns:DC_City_Search_RQ" />
  <xs:complexType name="ArrayOfDC_City">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_City" nillable="true" type="tns:DC_City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_City" nillable="true" type="tns:ArrayOfDC_City" />
  <xs:complexType name="DC_City">
    <xs:sequence>
      <xs:element minOccurs="0" name="City_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Google_PlaceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_City" nillable="true" type="tns:DC_City" />
  <xs:complexType name="ArrayOfCity_AlphaPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City_AlphaPage" nillable="true" type="tns:City_AlphaPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity_AlphaPage" nillable="true" type="tns:ArrayOfCity_AlphaPage" />
  <xs:complexType name="City_AlphaPage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alpha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City_AlphaPage" nillable="true" type="tns:City_AlphaPage" />
  <xs:complexType name="ArrayOfDC_PortMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_PortMaster" nillable="true" type="tns:DC_PortMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_PortMaster" nillable="true" type="tns:ArrayOfDC_PortMaster" />
  <xs:complexType name="DC_PortMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="MappingStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MultiCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MultiCityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MultiCity_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="OAG_loc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OAG_multicity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OAG_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OAG_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_ctry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_ctryname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_inactive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_lon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_portname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_subctry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_substate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_timediv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_PortMaster" nillable="true" type="tns:DC_PortMaster" />
  <xs:complexType name="DC_PortMaster_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="City_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="City_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Country_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mapping_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oag_portname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Port_City_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port_Country_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port_Id" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_PortMaster_RQ" nillable="true" type="tns:DC_PortMaster_RQ" />
  <xs:complexType name="DC_MasterAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterAttributeValue_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MasterAttribute_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="MasterFor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAttributeValue_Id" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_MasterAttribute" nillable="true" type="tns:DC_MasterAttribute" />
  <xs:complexType name="ArrayOfDC_MasterAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_MasterAttribute" nillable="true" type="tns:DC_MasterAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_MasterAttribute" nillable="true" type="tns:ArrayOfDC_MasterAttribute" />
  <xs:complexType name="DC_M_masterattribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterAttribute_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MasterFor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTA_CodeTableCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTA_CodeTableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentAttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAttribute_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_M_masterattribute" nillable="true" type="tns:DC_M_masterattribute" />
  <xs:complexType name="ArrayOfDC_M_masterattribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_M_masterattribute" nillable="true" type="tns:DC_M_masterattribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_M_masterattribute" nillable="true" type="tns:ArrayOfDC_M_masterattribute" />
  <xs:complexType name="ArrayOfDC_M_masterparentattributes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_M_masterparentattributes" nillable="true" type="tns:DC_M_masterparentattributes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_M_masterparentattributes" nillable="true" type="tns:ArrayOfDC_M_masterparentattributes" />
  <xs:complexType name="DC_M_masterparentattributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentAttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAttribute_Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_M_masterparentattributes" nillable="true" type="tns:DC_M_masterparentattributes" />
  <xs:complexType name="ArrayOfDC_M_masterattributevalue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_M_masterattributevalue" nillable="true" type="tns:DC_M_masterattributevalue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_M_masterattributevalue" nillable="true" type="tns:ArrayOfDC_M_masterattributevalue" />
  <xs:complexType name="DC_M_masterattributevalue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterAttributeValue_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MasterAttribute_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="MasterAttribute_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTA_CodeTableValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAttributeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAttributeValue_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_M_masterattributevalue" nillable="true" type="tns:DC_M_masterattributevalue" />
  <xs:complexType name="DC_M_masterattributelists">
    <xs:sequence>
      <xs:element minOccurs="0" name="MasterAttributeValues" nillable="true" type="tns:ArrayOfDC_M_masterattributevalue" />
      <xs:element minOccurs="0" name="MasterAttributes" nillable="true" type="tns:ArrayOfDC_M_masterattribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_M_masterattributelists" nillable="true" type="tns:DC_M_masterattributelists" />
  <xs:complexType name="DC_Supplier_Search_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategorySubType_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategory_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Supplier_Search_RQ" nillable="true" type="tns:DC_Supplier_Search_RQ" />
  <xs:complexType name="ArrayOfDC_Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Supplier" nillable="true" type="tns:DC_Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Supplier" nillable="true" type="tns:ArrayOfDC_Supplier" />
  <xs:complexType name="DC_Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategorySubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategorySubType_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentBatch" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TotalBatch" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Supplier" nillable="true" type="tns:DC_Supplier" />
  <xs:complexType name="DC_SupplierMarket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Supplier_Market_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TotalRecords" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_SupplierMarket" nillable="true" type="tns:DC_SupplierMarket" />
  <xs:complexType name="ArrayOfDC_SupplierMarket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_SupplierMarket" nillable="true" type="tns:DC_SupplierMarket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_SupplierMarket" nillable="true" type="tns:ArrayOfDC_SupplierMarket" />
  <xs:complexType name="DC_Supplier_ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefaultSupplier" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategorySubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Supplier_ProductCategory_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="TotalRecords" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Supplier_ProductCategory" nillable="true" type="tns:DC_Supplier_ProductCategory" />
  <xs:complexType name="ArrayOfDC_Supplier_ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Supplier_ProductCategory" nillable="true" type="tns:DC_Supplier_ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Supplier_ProductCategory" nillable="true" type="tns:ArrayOfDC_Supplier_ProductCategory" />
  <xs:complexType name="DC_Supplier_ApiLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiEndPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApiLocation_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Supplier_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Supplier_ApiLocation" nillable="true" type="tns:DC_Supplier_ApiLocation" />
  <xs:complexType name="ArrayOfDC_Supplier_ApiLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Supplier_ApiLocation" nillable="true" type="tns:DC_Supplier_ApiLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Supplier_ApiLocation" nillable="true" type="tns:ArrayOfDC_Supplier_ApiLocation" />
  <xs:complexType name="ArrayOfDC_Statuses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Statuses" nillable="true" type="tns:DC_Statuses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Statuses" nillable="true" type="tns:ArrayOfDC_Statuses" />
  <xs:complexType name="DC_Statuses">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATE_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Status_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_Short" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPDATE_USER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Statuses" nillable="true" type="tns:DC_Statuses" />
  <xs:complexType name="DC_Activity_Search_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategorySubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNameSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Activity_Search_RQ" nillable="true" type="tns:DC_Activity_Search_RQ" />
  <xs:complexType name="ArrayOfDC_Activity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Activity" nillable="true" type="tns:DC_Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Activity" nillable="true" type="tns:ArrayOfDC_Activity" />
  <xs:complexType name="DC_Activity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Affiliation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CommonProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRecommended" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Display_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinanceProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Legacy_Product_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Mode_Of_Transport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent_Legacy_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategorySubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductRating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecord" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TourType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Activity" nillable="true" type="tns:DC_Activity" />
  <xs:complexType name="DC_Activity_Content">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityContent_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Activity_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Content_Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsInternal" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Legacy_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecord" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Activity_Content" nillable="true" type="tns:DC_Activity_Content" />
  <xs:complexType name="ArrayOfDC_Activity_Content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Activity_Content" nillable="true" type="tns:DC_Activity_Content" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Activity_Content" nillable="true" type="tns:ArrayOfDC_Activity_Content" />
  <xs:complexType name="DC_GenericMasterDetails_ByIDOrName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjName" type="tns:EntityType" />
      <xs:element minOccurs="0" name="Optional1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Optional2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhatFor" type="tns:DetailsWhatFor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_GenericMasterDetails_ByIDOrName" nillable="true" type="tns:DC_GenericMasterDetails_ByIDOrName" />
  <xs:simpleType name="EntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="supplier" />
      <xs:enumeration value="country" />
      <xs:enumeration value="city" />
      <xs:enumeration value="state" />
      <xs:enumeration value="product" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityType" nillable="true" type="tns:EntityType" />
  <xs:simpleType name="DetailsWhatFor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CodeById" />
      <xs:enumeration value="RemarksForMapping" />
      <xs:enumeration value="IDByName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DetailsWhatFor" nillable="true" type="tns:DetailsWhatFor" />
  <xs:complexType name="ArrayOfDC_State_Master_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_State_Master_DDL" nillable="true" type="tns:DC_State_Master_DDL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_State_Master_DDL" nillable="true" type="tns:ArrayOfDC_State_Master_DDL" />
  <xs:complexType name="DC_State_Master_DDL">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_State_Master_DDL" nillable="true" type="tns:DC_State_Master_DDL" />
  <xs:complexType name="ArrayOfDC_ActivitySearch_RS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_ActivitySearch_RS" nillable="true" type="tns:DC_ActivitySearch_RS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_ActivitySearch_RS" nillable="true" type="tns:ArrayOfDC_ActivitySearch_RS" />
  <xs:complexType name="DC_ActivitySearch_RS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity_Flavour_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Activity_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Affiliation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CommonProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CommonProductNameSubType_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRecommended" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Display_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Legacy_Product_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Mode_Of_Transport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent_Legacy_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategorySubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNameSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductRating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecord" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TourType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_ActivitySearch_RS" nillable="true" type="tns:DC_ActivitySearch_RS" />
  <xs:complexType name="ArrayOfDC_Activity_Contact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Activity_Contact" nillable="true" type="tns:DC_Activity_Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Activity_Contact" nillable="true" type="tns:ArrayOfDC_Activity_Contact" />
  <xs:complexType name="DC_Activity_Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity_Contact_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Activity_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Legacy_Product_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSiteURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Activity_Contact" nillable="true" type="tns:DC_Activity_Contact" />
</xs:schema>