TLGX_MDM/TLGX_Consumer/Service References/MDMSVC/Consumer10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts.Schedulers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts.Schedulers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDC_Supplier_Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Supplier_Schedule" nillable="true" type="tns:DC_Supplier_Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Supplier_Schedule" nillable="true" type="tns:ArrayOfDC_Supplier_Schedule" />
  <xs:complexType name="DC_Supplier_Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DayOfWeek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrequencyTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISUpdateFrequence" type="xs:boolean" />
      <xs:element minOccurs="0" name="ISXMLSupplier" type="xs:boolean" />
      <xs:element minOccurs="0" name="MonthOfYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Recur_No" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierScheduleID" type="ser:guid" />
      <xs:element minOccurs="0" name="Suppllier_ID" type="ser:guid" />
      <xs:element minOccurs="0" name="WeekOfMonth" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Supplier_Schedule" nillable="true" type="tns:DC_Supplier_Schedule" />
  <xs:complexType name="DC_SupplierScheduledTaskRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PageNo" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="RedirectFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_SupplierScheduledTaskRQ" nillable="true" type="tns:DC_SupplierScheduledTaskRQ" />
  <xs:complexType name="ArrayOfSupplierScheduledTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierScheduledTask" nillable="true" type="tns:SupplierScheduledTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierScheduledTask" nillable="true" type="tns:ArrayOfSupplierScheduledTask" />
  <xs:complexType name="SupplierScheduledTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ISComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogId" type="xs:int" />
      <xs:element minOccurs="0" name="PendingFordays" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduledDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierScheduleTaskID" type="ser:guid" />
      <xs:element minOccurs="0" name="SuppllierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suppllier_ID" type="ser:guid" />
      <xs:element minOccurs="0" name="TotalRecord" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierScheduledTask" nillable="true" type="tns:SupplierScheduledTask" />
</xs:schema>